*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(184, 194, 204);
    text-align: center;
    position: relative;
}

.mainH1{
    font-size: 2em;
    font-family:cursive;
    position: absolute;
    top: -90px;
    left: 40%;
    color: rgb(202, 177, 36);
}

.container{
    display: flex;
    flex-direction: column;
    align-items:center;
    margin-top: 20%;
}

.pushDiv{
    margin-bottom: 30px;
}

.myItem{
    background-color: white;
    padding: 15px 15px;
    width: 500px;
    height: 30px;
    border: none;
    border-radius: 0.5em;  
    text-align: start;        /* this lines center text inside div the middle*/
    vertical-align: middle;
    line-height: 30px;
}

.myPlus{
    color: rgb(202, 177, 36);
    font-size: 1.5em;
    font-weight: bolder;
    cursor: pointer;
}

#myFirstItem{
    margin-left: 13em;
}

#mySecondItem{
    margin-left: 5.2em;
}

#myThirdItem{
    margin-left: 16em;
}

.myFirstPara{
    width: 300px;
    margin-left: 100px;
    display: none;
}

.myFirstPara.active{
    display: block;
    transition: 3s ease-in-out;
}

.mySecondPara{
    width: 300px;
    margin-left: 100px;
    display: none;
}

.mySecondPara.active{
    display: block;
}

.myThirdPara{
    width: 300px;
    margin-left: 100px;
    display: none;
}

.myThirdPara.active{
    display: block;
}

